.el-button {
  padding: 0px;
  border: none;
  background: none;
  font-weight: 400;
  &:hover {
    background: none;
  }
  &:focus {
    background: none;
  }
}

#showWalletList {
  .el-button {
    &:hover {
      border-radius: 6px;
      background: rgba(150, 150, 235, 1);
      color: rgba(255, 255, 255, 1);
    }
    &:focus {
      border-radius: 6px;
      background: rgba(150, 150, 235, 1);
      color: rgba(255, 255, 255, 1);
    }
  }
}

#add-user, #modify-user, #add-token, #modify-token, #add-chain, #new-project,
#modify-chain, #add-exchange, #modify-exchange, #new-handicap, #cancel-order {
  .el-button--primary.is-disabled {
    border: none;
    background: rgba(132, 132, 221, 0.7);
  }
  .el-button--primary {
    border: none;
    background: rgba(132, 132, 221, 1);
  }
}

#add-trading-pair, #create-order-sell {
  .el-button--primary.is-disabled {
    border: none;
    background: rgba(6, 166, 138, 0.7);
  }
  .el-button--primary {
    border: none;
    background: rgba(6, 166, 138, 1);
  }
}

#create-order-buy {  
  .el-button--primary.is-disabled {
    border: none;
    background: rgba(216, 64, 92, 0.7);
  }
  .el-button--primary {
    border: none;
    background: rgba(216, 64, 92, 1);
  }
}