#add-user {
  .el-checkbox.is-bordered {
    padding: 0px;
    border: none;
    height: auto;
    font-size: 14px;
  }
}

#new-handicap {
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: rgba(132, 132, 221, 1);
    border-color: rgba(132, 132, 221, 1);
  }
}