.explain-light {
  border: 1px solid rgba(232, 233, 234, 1) !important;
  color: rgba(43, 44, 47, 1);
  .popper__arrow {
    border-top-color: rgba(232, 233, 234, 1) !important;
  }
}

.el-tooltip__popper {
  max-width: 600px !important;
  word-wrap: break-word !important;
  white-space: normal !important;
}